 @font-face {
    font-family: 'ecsquaresanspro-regular';
    src: url(/fonts/ECSquareSansPro-Regular.ttf);
   }
  @font-face {
    font-family: 'ecsquaresanspro-medium';
    src: url(/fonts/ECSquareSansPro-Medium.ttf);
   }
