.universities__wrapper_card .views-row{
  margin-right: 40px;
  position: relative;
  min-height: 1px;
  width: 280px;
}
.universities__wrapper_card .views-row:last-child{
  margin: 0;
}
.result {
  text-transform: uppercase;
  position: relative;
  border: 1px solid #fff;
  height: 235px;
  overflow: hidden;
  margin-bottom: 15px;
  -webkit-box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.75);
}
.name {
  position: relative;
  height: 160px;
}
.name img{
  vertical-align: middle;
}
.result-country{
  font-family: ecsregular,sans-serif;
  background: #fff;
  padding: 7px 5px 7px 30px;
  position: absolute;
  right: 0;
  top: 125px;
  z-index: 1;
}
.flag {
  border-radius: 19px;
  bottom: -4px;
  height: 36px;
  overflow: hidden;
  position: absolute;
  left: -25px;
  width: 36px;
  z-index: 10;
}
.flag img{
  height: 34px;
  width: 34px;
}
.result-country h6{
  margin: 0;
  font-size: 12px;
  color: #337ab7;
}
.result-university{
  font-family: ecsmedium,sans-serif;
  color: #fff;
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0px 0 5px 8px;
}
.result-university span{
  position: absolute;
  bottom: 0;
}
.info{
  background: #00a09e;
  height: 75px;
  margin-top: 1px;
}
.result-city{
  bottom: 0;
  color: hsl(0,0%,100%);
  font-family: ecsthin,sans-serif;
  margin: 0;
  padding: 0 85px 0 5px;
  position: absolute;
  width: 100%;
}
.result-icons{
  background: #fff;
  padding-top: 3px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 84px;
  min-height: 80px;
}
.result-icons img{
  width: 20px;
}
.result-icons p{
  font-size: 10px;
  margin-top: 5px;
  text-align: center;
  line-height: 1;
  color: #444;
}


