html {

}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, 
div {
	line-height: 1.25;
	color: #FFF;
	font-family: 'ecsquaresanspro-regular';
}

a,
button,
input,
textarea {
  outline: none;
}

p {
	margin: 20px 0;
}

hr {
	margin: 0;
}

.wrapper{
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    position: relative;
    z-index: 100;
}

.clear{
	clear: both;
}