html {

}

body {

}

p, 
div {
	line-height: 1.25;
}

a,
button,
input,
textarea {
  outline: none;
}

p {
	margin: 20px 0;
}

hr {
	margin: 0;
}

.wrapper{
	max-width: 1050px;
	width: 100%;
	margin: 0 auto;
}

.clear{
	clear: both;
}