@font-face {
  font-family: 'ECSquareSansPro';
  src: url('../fonts/ECSquareSansPro-Regular.eot?#iefix') format('embedded-opentype'),
  	   url('../fonts/ECSquareSansPro-Regular.woff') format('woff'),
  	   url('../fonts/ECSquareSansPro-Regular.ttf')  format('truetype'),
  	   url('../fonts/ECSquareSansPro-Regular.svg#ECSquareSansPro-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ECSquareSansPro';
  src: url('../fonts/ECSquareSansPro-Medium.eot?#iefix') format('embedded-opentype'),
  	   url('../fonts/ECSquareSansPro-Medium.woff') format('woff'),
  	   url('../fonts/ECSquareSansPro-Medium.ttf')  format('truetype'),
  	   url('../fonts/ECSquareSansPro-Medium.svg#ECSquareSansPro-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}