$break-small:;
$break-medium:;
$break-large:;
$break-xl:;
$break-ll:;
$break-custom:;
$break-ml:;
$break-mu:;
$break-ms:;
$break-min:;
$break-small-landscape:;

$break-small: 320px 559px;
$break-landscape: 560px 767px;
$break-medium: 768px 989px;
$break-large: 990px 1239px;
