@include block('countries') {
  // height: 450px;
  background-color: #f89a47;
  position: relative;
  @include breakpoint ( $break-medium) {
    // height: 510px;
  }
  @include breakpoint ( $break-landscape) {
    // height: 660px;
  }
  @include breakpoint ( $break-medium) {
    // height: 660px;
  }
  @include breakpoint ( $break-small) {
    // height: 660px;
  }

  &:after {
    position: absolute;
    top: 0px;
    width: 100%;
    display: block;
    content: " ";
    height: 100%;
    background: linear-gradient(to right, rgba(204,67,2,0.35) 0%,rgba(204,67,2,0) 30%,rgba(204,67,2,0)
    70%,rgba(204,67,2,0.35) 100%);
  }

  &:before {
    position: absolute;
    top: 0px;
    width: 100%;
    display: block;
    content: " ";
    height: 100%;
    background: linear-gradient(to bottom, rgba(226,110,36,1) 0%,rgba(248,154,71,1) 100%);
  }

  @include element('wrapper_head') {
    padding-top: 65px;
    padding-left: 20px;
    padding-right: 20px;
    @include breakpoint ($break-large) {
      //margin-bottom: 35px;
    }
    @include breakpoint ($break-medium) {
      margin-bottom: 35px;
    }
    @include breakpoint ($break-landscape) {
      padding-top: 33px;
    }
    p:nth-child(1){
      font-size: 36px;
      text-align: center;
      margin: 0;
      @include breakpoint ($break-landscape) {
          font-size: 22px;
          margin-top: 2px;
        }
      @include breakpoint ($break-small) {
        font-size: 22px;
      }
    }
    p:nth-child(2){
      font-size: 20px;
      text-align: center;
      @include breakpoint ($break-large) {
        margin-top: 0;
      }
      @include breakpoint ($break-medium) {
        margin-top: 0;
      }
      @include breakpoint ($break-landscape) {
        font-size: 16px;
      }
      @include breakpoint ($break-small) {
        font-size: 16px;
      }
    }
  }

  @include element('wrapper_card') {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 0 20px 65px 20px;
    @include breakpoint ($break-medium) {}
    @include breakpoint ($break-landscape) {
      justify-content: space-between;
    }
    div {
      flex-basis: 16%;
      text-align: center;
      padding-top: 40px;
      @include breakpoint ($break-large) {
        // margin-right: 48px;
      }
      @include breakpoint ($break-medium) {
        // flex-basis: 160px;
      }
      @include breakpoint ($break-landscape) {
        flex-basis: 25%;
      }
      @include breakpoint ($break-small) {
        flex-basis: 50%;
        margin: 0;
      }
    }
    div:last-child {
      padding-top: 0;
      @include breakpoint ($break-landscape) {
        flex-grow: 1;
        padding-top: 40px;
      }
      @include breakpoint ($break-small) {
        padding-top: 40px;
      }
    }
    p { 
      margin-top: 5px;
    }
    &:after{
      content:" ";
      display:block;
      clear:both;
    }
  } 
  @include element('wrapper_button') {
    /*position: relative;
    left: 40%;*/
    margin-top: 40px;
    @include breakpoint ( $break-medium) {
      position: static;
    }
    @include breakpoint ( $break-landscape) {
      position: static;
    }
    @include breakpoint ( $break-small) {
      position: static;
    }
    @media screen and (max-width: $break-ms) {
        margin: 0;
      }
    a{
      width: 190px;
      height: 45px;
      display: block;
      text-align: center;
      color: #FFF;
      padding-top: 10px;
      text-decoration: none;
      // font-family: 'ecsquaresanspro-medium';
      font-size: 20px;
      font-weight: 500;
      border-radius: 3px;
      margin: 0 auto;
      border: 2px solid;
      border-radius: 3px;
      transition: background 1s ease;
      &:hover{
        color: #cc4302;
        background-color: #FFF;
        border: 2px solid #fff;
      }
    }
  } 
}