@include block('header') {
  background: #2c6bcb;
  height: 64px;
  position: relative;

  &:after {
    position: absolute;
    top: 0px;
    display: block;
    width: 100%;
    content: " ";
    height: 64px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.35) 100%);
  }

  &:before {
    position: absolute;
    top: 0px;
    width: 100%;
    display: block;
    content: " ";
    height: 64px;
    background: linear-gradient(to bottom, rgba(28, 155, 255, 0.65) 0%, rgba(28, 155, 255, 0) 100%);
  }

  @include element('section') {
    float: left;
  }

  @include element('wrapper') {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 64px;
    z-index: 100;
    nav{
      height: 64px;
      max-width: 610px;
      width: 100%;
      float: left;
    }
    nav ul{
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      height: 100%;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      list-style-type: none;
    }
    nav ul li{
      height: 100%;
      box-sizing: border-box;
      &:hover{
      border-bottom: 5px solid #ffa85c;
      }
    }
    nav ul a{
      text-decoration: none;
      display: block;
      padding: 1.2em 1em;
      color: white;
      font-size: 18px;
    }
  }

  @include element('wrapper_logo') {
    max-width: 315px;
    height: 100%;
    width: 100%;
    img{
      height: 100%;
    }
    p{
      float: right;
      width: 70%;
      font-size: 28px;
      margin-top: 16px;
      color: #FFF;
      font-family: 'ecsquaresanspro-medium';
    }
  }  

  @include element('wrapper_search') {
    position: relative;
    z-index: 100;
    input{
      width: 185px;
      border: none;
      background: #1c5ba3;
      height: 33px;
      color: #FFF;
      outline: none;
      float: left;
      margin: 14px 10px 0 0 ;
      border-radius: 4px;
      padding-left: 5px;
    }
    button{
      width: 45px;
      padding: 0;
      height: 45px;
      border: none;
      outline: none;
      background-color: #FFF;
      border-radius: 50%;
      float: left;
      margin-top: 7px;
      :hover{
        background-color: #1a4b89;
        cursor: pointer;
      }
    }
  }
  @include element('wrapper_user') {
    width: 45px;
    height: 45px;
    background-color: #1b4d8c;
    border-radius: 50%;
    margin: 8px 0 0 15px;
    :hover{
      background-color: #FFF;
      cursor: pointer;
    }
    
  }
}