@include block('universities') {
  height: 565px;
  background: url(/images/pattern_light.png);
  background-size: 500px 333px;
    @include breakpoint ($break-medium) {
      height: 767px;
    }
    @include breakpoint ($break-landscape) {
      height: 990px;
    }
    @include breakpoint ($break-small) {
      height: 990px;
    }

  @include element('wrapper_head') {
    padding-top: 65px;
    @include breakpoint ($break-large) {
      margin-bottom: 35px;
    }
    @include breakpoint ($break-landscape) {
      padding-top: 33px;
    }
    @include breakpoint ($break-small) {
      padding-top: 33px;
    }
    p:nth-child(1){
      color: #4e5199;
      font-size: 36px;
      text-align: center;
      margin: 0;
      @include breakpoint ($break-landscape) {
        font-size: 22px;
      }
      @include breakpoint ($break-small) {
        font-size: 22px;
      }
    }
    p:nth-child(2){
      color: #666666;
      font-size: 20px;
      text-align: center;
      @include breakpoint ($break-landscape) {
        font-size: 16px;
      }
      @include breakpoint ($break-small) {
        font-size: 16px;
      }
    }
  }
  @include element('wrapper_card') {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-around;
    box-sizing: border-box;
    padding: 0 20px;
    @include breakpoint ($break-medium) {
      justify-content: center;
    }
    @include breakpoint ($break-landscape) {
      justify-content: center;
    }
    @include breakpoint ($break-small) {
      justify-content: flex-start;
    }
  }

  @include element('wrapper_button') {
    position: relative;
    left: 40%;
    margin-top: 20px;
    @include breakpoint ($break-large) {
      margin-top: 30px;
    }
      @include breakpoint ($break-medium) {
        position: static;
        width: 280px;
        height: 243px;
        background-color: #FFF;
        margin: 0;
        margin-right: 36px;
      }
      @include breakpoint ( $break-landscape) {
        position: static;
        width: 280px;
        height: 243px;
        background-color: #FFF;
        margin: 0;
        margin-right: 36px;
      }
      @include breakpoint ( $break-small) {
        width: auto;
        height: auto;
        position: static;
        margin: 0 auto;
      }
    a{
      width: 190px;
      height: 35px;
      display: block;
      text-align: center;
      background: linear-gradient(to top, #178fff, #27a4ff);
      color: #FFF;
      padding-top: 10px;
      text-decoration: none;
      // font-family: 'ecsquaresanspro-medium';
      font-size: 20px;
      font-weight: 500;
      border-radius: 3px;
      margin: 0 auto;
      transition: background 1s ease;
      :hover{
        background: linear-gradient(to top, #f78e3d, #f9a354);
      }
      @include breakpoint ($break-medium) {
          margin-top:30%; 
      }
      @include breakpoint ($break-landscape) {
          margin-top:30%; 
      }
      @include breakpoint ($break-small) {
          margin-top: 0px;
      }
    }
  }  
}